<!-- footer partial -->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-secondary">
            <center>&copy; Task Manager 2024</center>
        </span>
    </div>
</footer>