<% layout("layouts/boilerplate") %>
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center">Welcome to Task Management App!</h1>
            <h4 class="text-center">Feel free to create your own new tasks</h4>
            <br>
            <center>
                <a class="btn btn-primary mb-3" href="/tasks">Get Started</a>
                <a class="btn btn-success mb-3" href="">Visit GitHub</a>
            </center>
        </div>
    </div>