<% layout("layouts/boilerplate") %>
    <div class="row">
        <h1 class="text-center">New Task</h1>
        <div class="col-6 offset-3">
            <form action="/tasks" method="post" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="title">Title:</label>
                    <input class="form-control" type="text" id="title" name="task[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description:</label>
                    <textarea class="form-control" type="text" id="description" name="task[description]"
                        required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="duedate">Due Date:</label>
                    <input class="form-control" type="Date" id="duedate" name="task[duedate]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add Task</button>
                </div>
            </form>
            <a class="btn btn-primary mb-3" href="/tasks">All Tasks</a>
        </div>
    </div>